{% extends 'teacher/index.html' %}

{% block main_body %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            成绩管理录入和修改
            <small>教务系统教师端</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
            <li class="active">成绩查询</li>
        </ol>
        </section>

        <!-- Main content -->
        <section class="content container-fluid">

        <div class="row">
            <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                <h3 class="box-title">成绩详情表</h3>

                <div class="box-tools">
                    <form action="{% url 'teacher_score' 1 %}" method="get">

                    </form>
                </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <tr>
                        <th>开课ID</th>
                        <th>课程名称</th>
                        <th>学生ID</th>
                        <th>学生姓名</th>
                        <th>学分</th>
                        <th>成绩</th>
                        <th>操作</th>
                    </tr>
                    {% for vo in scorelist %}
                    <tr>
                        <td>{{ vo.open_id }}</td>
                        <td>{{ vo.coursename }}</td>
                        <td>{{ vo.student_id }}</td>
                        <td>{{ vo.studentname }}</td>
                        <td>{{ vo.credit }}</td>
                        <td>{{ vo.score }}</td>
                    <td>
                        <a type="button" href="{% url 'teacher_score_edit' vo.open_id vo.student_id%}" class="btn btn-success btn-xs">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> 录入或修改成绩</a>
                    </td>
                    </tr>
                    {% endfor %}
                </table>
                </div>
                <!-- /.box-body -->
                <!--<div class="box-footer clearfix">
                <a role="button" href="{% url 'myadmin_user_add' %}" class="btn btn-primary">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 添加员工</a>-->
                <ul class="pagination pagination-sm no-margin pull-right">
                    <li><a href="{% url 'teacher_score' pIndex|add:-1 %}?{{mywhere|join:'&'}}">&laquo;</a></li>
                    {% for p in plist %}
                    <li {% if p == pIndex %}class="active"{% endif %}><a href="{% url 'teacher_score' p %}?{{mywhere|join:'&'}}">{{p}}</a></li>
                    {% endfor %}
                    <li><a href="{% url 'teacher_score' pIndex|add:1 %}?{{mywhere|join:'&'}}">&raquo;</a></li>
                </ul>
                </div>
            </div>
            <!-- /.box -->
            </div>
        </div>

        </section>
        <!-- /.content -->
{% endblock %}